.logo {
    float: left;
    margin: 2px 0 0 4px;
}

.logoImg {
    height: 40px;
    width: auto;
    margin-right: 5px;
}

.logo img {
    float: left;
    outline: none;
    border: 0;      /* for IE 9 compatibility */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.beta {
    position: absolute;
    left: 0;
    top: 0;
}

.versionsPanel {
    float: right;
    margin-left: 20px;
}

.versionsPanel img {
    cursor: pointer;
    margin-right: 4px;
    outline: none;
    border: 0;      /* for IE 9 compatibility */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.versionsPanel a {
    color : white;
}

.versionsPanel a div {
    float: left;
}

.appVersion {
    margin-top: 5px;
    margin-bottom: 10px;

    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.dataVersion {
    margin-top: 25px;
    /*margin-top: 14px;*/
    color: white;

    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
